@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

@font-face {
  font-family: Fraktur;
  src: url('/fonts/FetteUNZFraktur.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

h2.logo {
  font-family: Fraktur;
  font-size: 5rem;
  font-weight: 700;
  color: #00b1cc;
}

p {
  font-family: 'Mulish';
}

.vocs_Paragraph,
.vocs_List,
.vocs_List_ordered {
  text-align: left;
}

.vocs_HomePage_button.vocs_Button_button.vocs_Link.vocs_Link_styleless {
  background-color: #00b1cc;
  color: #341a34;
  border-radius: 0;
  outline: none;
  border: none;
}

.vocs_HomePage_button.vocs_Button_button.vocs_Link.vocs_Link_styleless:hover {
  background-color: #17151f;
  color: #00b1cc;
  border-radius: 0;
  outline: none;
  border: none;
}

.vocs_Sidebar.vocs_DocsLayout_sidebar {
  background-color: #17151f;
}

.vocs_Sidebar_logoWrapper {
  background-color: #17151f;
}

.vocs_DocsLayout_gutterLeft {
  width: unset;
}

.Home__card_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
}

.Home__card {
  padding: 10px;
  border: 1px solid #00b1cc;
  width: 300px;
}

.Home__card_h3 {
  color: #00b1cc;
  font-size: 24px;
}
